@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 400px
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal-content
	+below(640px)
		height: 100%
		padding: 40px 20px
		overflow-y scroll
		width: 100%!important
		br(0)
	background: white
	position: relative
	padding: 40px
	border-radius 0 100px

.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 0px
	right: 0px
	cp()
	.icon
		+below(640px)
			fill $mark
		size 16px
		fill white

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	color $mark
	@extend .type--lgx
	font-weight: 900

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px
.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none

.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill $mark
		size 120px
		margin-bottom: 20px
	.modal-text
		margin-bottom: 0

.modal-text-true
	text-align: center
	font-weight: bold
	color $mark
	@extend .type--lg


//modal===end

// select
.nice-select
	br(5px)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 5px 5px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
	.current //max width dots
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
		max-width 120px

.nice-select.open
	border-radius 5px 5px 0 0

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color
// select === end

// range slider
.range__wrap
	margin-bottom 50px
	margin-top -20px
	.irs-bar-edge
		background blue
		height 15px
		border-radius 10px 0px 0px 10px
		width 25px
	.irs-bar
		height 15px
		background blue
	.irs-line-left
		height 15px
		border-radius 10px 0px 0px 10px
		background #e6ecf6
	.irs-line-right
		height 15px
		background #e6ecf6
		border-radius 0px 10px 10px 0px
	.irs-line-mid
		background #e6ecf6
		height 15px
	.irs-line
		height 15px
	.single
		background url('../img/range-btn.png')
	.irs-slider
		width 45px
		height 30px
	.irs-min, .irs-max,.irs-single
		top 45px
		background transparent
		color black
.range__wrap--green
	.irs-bar-edge
		background green
	.irs-bar
		background green
.range-set
	flex(between)
	input
		+below(768px)
			width 80px
		padding 0
		margin-bottom 10px
		border 1px solid grey--light
		padding 3px
		font-size 16px
		width 110px
// range slider === end

// slide menu
.head-toggle
	size 30px
	flex(mid)
	cp()
	+above(1025px)
		display: none
	.icon
		size 25px
		fill black
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(640px)
		top: 51px //Высота хедера
	+below(480px)
		width: 100%
	background: $mark
	color white
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 54px
	right 0
	padding: 40px
	width: 320px
	transform translateX(100%)
	tr(all)
	.soc-row
		margin-bottom: 30px
	.soc-row__el
		border-color white
		.icon
			fill white
	.header-top-phone__icon
		border-color white
		.icon
			fill white
	.header-top-phone
		margin-bottom: 30px
		justify-content: flex-start
	.header-top-phone__val
		font-size: 18px
		color white

.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px
.slide-menu__list-el
	display: block
	margin-bottom: 40px
	color white
	font-size: 16px
	tr(all)
	font-weight: 700
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important
// slide menu === end

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
// animate top menu === end


.soc-row
	f()
.soc-row__el
	border-radius 0 14px
	border 2px solid $mark
	size 34px
	flex(mid)
	margin-right: 10px
	tr()
	.icon
		size 18px
		fill $mark
		tr()
		&:last-child
			margin-right: 0
	&:hover
		background: $mark
		.icon
			fill white

//.header
.header-top-cont
	border 1px solid $border-color
//.main-cont
.header-top
	+below(1024px)
		padding: 10px 0
		.soc-row
			display: none
		.header-top-phone
			display: none
		.header-top-callback
			display: none

	flex(between)
	padding: 20px 0
.logo
	width: 130px
	+below(1024px)
		img
			width: 100px
.header-top-phone

	flex(mid)
.header-top-phone__icon
	border-radius 0 14px
	border 2px solid $mark
	size 34px
	flex(mid)
	margin-right: 10px
	.icon
		size 18px
		fill $mark
.header-top-phone__val
	+below(480px)
		font-size: 20px
	color $mark
	font-size 24px
	font-weight: 900
	display: inline-block
	tr()

.header-top-callback
	@extend .btn--md
	@extend .btn--mark

.nav-cont
	+below(1024px)
		display: none
	border-bottom 1px solid $border-color

.nav
	flex(between)
.nav__el
	padding: 20px 0
	font-weight: 500
.main-slider
	position: relative
.filter
	filter()
	background: #4c2b5b47
.main-slider__el
	+below(768px)
		min-height 250px
	bg-full()
	height: 100%
	padding: 15% 10%
	display: block

.main-slider__el-wrap
	position: relative

.main-slider-wrap, .slider--arrows
	position: relative
	.slider-control
		+below(640px)
			display: none
		size 64px
		flex(mid)
		background: rgba(255, 255, 255, 0.45)
		&:hover
			background: white
	.slider-control--left
		left 0
	.slider-control--right
		right: 0
.slider-control
	+below(1024px)
		display: none
	flex(mid)
	tr(all)
	size 40px
	position: absolute
	top 50%
	margin-top: -20px
	z-index 10
	cp()
	.icon
		size 30px
		fill $mark

.slider-wrap
	position: relative
.slider-control--left
	left -50px
.slider-control--right
	right -50px

.section
	+below(768px)
		padding: 40px 0
	padding: 100px 0
	overflow-x: hidden
.section--dark
	background: #fdfaff
.section--clear
	padding-top: 0

.section-title-row
	+below(640px)
		overflow: hidden
	flex(mid)
	fl()
.section-title
	+below(768px)
		margin-bottom: 60px
	font-weight: 900
	text-align: center
	@extend .type--xl
	color #2c1536
	display: inline-block
	position: relative
	margin-bottom: 100px
	align-items: center
	margin-left: auto
	margin-right: auto

.section-title--sm
	font-size: 26px
	margin-bottom: 50px



.section-title-sub
	+below(1024px)
		font-size: 18px
		margin-bottom: 30px
		margin-top: -70px
	+below(768px)
		margin-top: -20px
	text-align: center
	font-weight: 500
	margin-top: -50px
	margin-bottom: 40px
	font-size: 30px
	color $mark
.section-title-line
	width: calc(100% + 180px)
	height: 25px
	background:#82439f3b
	position: absolute
	top 60%
	left 50%
	transform translateX(-50%)
.advant
	+below(1024px)
		grid-template-columns: repeat(2, 1fr)
	+below(760px)
		grid-template-columns: 1fr
		grid-gap 30px
	display: grid
	grid-gap 70px
	grid-template-columns: repeat(3, 1fr)
	align-content: space-around
.advant__el
	f()
	align-items: flex-start
.advant__el-icon
	.icon
		size 100px
		margin-right: 20px
//.advant__el-cont
.advant__el-title
	@extend .type--lg
	line-height: 1.6
	font-weight: 900
	margin-bottom: 5px
	color $mark
.advant__el-text
	+below(640px)
		font-size: 12px
	line-height: 1.6
	font-size: 14px
.advant__el-slogan
	font-size: 24px
	font-weight: 900

.advant__el--slogan
	flex(mid)
	color $mark

.list
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(3, 1fr)

.list__el
	+below(480px)
		f()
	br(10px)
	bsh-hover()
	overflow: hidden
	cp()
	tr()
	border 1px solid #f6f6f6


.list__el-img
	+below(480px)
		padding: 15% 10%
		width: 40%
	bg-full()
	padding: 35% 10%
.list__el-content
	+below(640px)
		padding: 20px
	+below(480px)
		width: 60%
		text-align: left

	padding: 20px 40px
	text-align: center
.list__el-title
	+below(480px)
		text-align: left
		line-height: 1.2
		margin-bottom: 5px
	@extend .type--md
	line-height: 1.6
	font-weight: 700
	color $mark
	text-align: center
	font-size: 18px
.list__el-text
	+below(480px)
		font-size: 12px
	line-height: 1.6
	font-size: 14px

.slider-extend
	.slick-slide
		+below(640px)
			margin: 0 5px
		margin: 0 30px
	.slick-list
		+below(1440px)
			margin: 0
		margin: 0 -30px

.slick-slide
	&>div
		height: 100%

.sale__el
	br(10px)
	overflow: hidden
	cp()
	border 1px solid #f6f6f6
	position: relative
	&:hover
		.sale__el-more
			transform translateY(0%)
.sale__el-more
	position: absolute
	width: 100%
	height: 100%
	background: #4c2b5bc2
	top 0
	left 0
	flex(mid)
	fl()
	tr()
	transform translateY(-110%)
.sale__el-more-text
	color white
.sale__el-img
	bg-full()
	padding: 55% 10%

.sale__el-more-icon
	margin-bottom: 10px
	.icon
		size 60px
		fill white
		tr()

.sale__el-more-cont
	&:hover
		opacity: 1
	tr()
	padding: 40px
	//round()
	br(20px)
	flex(mid)
	fl()
	opacity: .7
	//background: rgba(255, 255, 255, 0.11)
	border 1px solid rgba(255, 255, 255, 0.2)


.designer
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)

.designer__el
	+below(768px)
		padding: 60% 10%
	br(10px)
	bsh-hover()
	cp()
	bg-full()
	bsh()
	overflow: hidden
	padding: 70% 10%
	position: relative
	tr()
	transform scale(1)
	&:hover
		box-shadow 0px 8px 30px #bebaba
		transform scale(1.02)
.designer__el-info
	+below(640px)
		padding: 15px 10px
	position: absolute
	bottom: 0
	padding: 20px
	width: 100%
	color white
	left 0
	.filter
		background: rgba(63, 33, 76, 0.45)

.designer__el-name
	+below(640px)
		font-size: 12px
	z-index 1
	position: relative
	@extend .type--md
	font-weight: 500
	margin-bottom: 5px
.designer__el-state
	font-size: 12px
	opacity: .8
	position: relative
	z-index 1
	font-weight: 300

.slick-dots
	width: 100%
	bottom -50px
	.dot
		background: #4c2b5b17
		width: 24px
		height: 6px
		display: block
		br(3px)
		border 1px solid #e7e7e7
	.slick-active
			.dot
				border 1px solid transparent
				background: $pink
				background: $mark

.designer-all
	text-align: center
	margin-top: 60px
	link()
	font-weight: 500
.btn-row-mid
	flex(mid)

.contact
	+below(640px)
		fw()
	f()
	justify-content: space-between
	align-items: stretch
.contact-info
	+below(768px)
		padding: 30px
	+below(640px)
		width: 100%
		padding: 20% 10%
	bg-full()
	f()
	fl()
	position: relative
	width: 50%
	padding: 60px
.contact-get
	width: 100%
//.filter
.contact-info__title
	@extend .type--xl
	font-weight: 900
	color white
	margin-bottom: 10px
	position: relative
.contact-info__text
	color white
	position: relative
.contact-form
	+below(768px)
		padding: 30px
	+below(640px)
		width: 100%
	width: 50%
	padding: 60px 10%
	background: #f9f7fa
//.input-row
//.input

.footer-top__logo
	width: 140px
.footer-top-wrap
	border 1px solid $border-color
	padding: 20px
.footer-top
	+below(768px)
		+below(640px)
			fl()
			.header-top-phone
				margin: 20px 0
	flex(between)

.footer
	.nav-cont
		border 0

.footer-location
	+below(760px)
		display: none
	flex(between)
	padding:40px 0

.footer-location__col
	width: 32%
	padding-left: 30px
	border-left 1px solid $mark
	span
		display: block
		margin-bottom: 10px

.page
	f()
	fl()
	min-height 100vh
.content
	flex-grow 1

.bread
	+below(640px)
		padding: 20px 0
	f()
	fw()
	padding: 30px 0 40px 0

.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	opacity 1
	&:after
		content '-'
		position: absolute
		right: -10px
		top 1px
	&:last-child
		opacity .5
		&:after
			content ''
			display: none

.text
	p
		line-height: 1.6
		margin-bottom: 20px
	li
		margin-bottom: 10px
		line-height: 1.6

.content-slider
	position: relative

.content-slider__el
	bg-full()
	padding: 25% 10%
	display: block

.content-slider__el-cont
	position: relative
.content-slider__el-text
	background: white
	padding: 20px
	line-height: 1.6
	position: relative
	border 1px solid $border-color

.bind
	+below(768px)
		max-width 640px
		fw()
		margin: 30px auto 0 auto
	f()
	justify-content: space-between
	margin: 60px 0
	.content-slider__el
		padding: 35% 10%
	.dot
		+below(768px)
			display: block
		display: none
.bind-info
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 35%
.bind-info__title
	margin-bottom: 20px
	@extend .type--lg
	font-weight: 700
	color $mark
.bind-info__cont
	margin-bottom: 20px
	span
		display: block
		margin-bottom: 10px
		line-height: 1.6
.bind-info__map
	min-height 200px
	position: relative
	padding: 20% 10%
.bind-info__map-el
	background: #f5eff9
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
.bind-slider
	+below(768px)
		width: 100%
	width: 55%

.catalog
	+below(768px)
		grid-gap 15px
	+below(700px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(3, 1fr)
	.catalog__el-img
		position: static
		padding: 30% 10%
.catalog__el
	br(10px)
	bsh-hover()
	overflow: hidden
	cp()
	border 1px solid #f6f6f6
	display: block
.catalog__el-wrap
	position: relative
.catalog__el-img
	padding: 35% 10%
	bg-full()
	//position: absolute
	width: 100%
	left: 0
	top 0
	//height: 100%
.catalog__el-content
	+below(640px)
		padding: 15px
	padding: 30px 20px
.catalog__el-title
	+below(768px)
		font-size: 14px
	@extend .type--md
	line-height: 1.6
	font-weight: 700
	color $mark
	margin-bottom: 10px
	font-size: 18px

.catalog__el-title--simple
	margin-bottom: 0
.catalog__el-text
	+below(768px)
		font-size: 12px
	line-height: 1.6
	font-size: 14px

.tag
	+below(768px)
		margin-top: -20px
	f()
	align-items: center
	justify-content: center
	fw()
	max-width 768px
	margin:-50px auto 40px auto

.tag__el
	+below(640px)
		font-size: 10px
	cp()
	br(20px)
	tr()
	padding: 5px 15px
	margin-right: 10px
	margin-bottom: 10px
	border 1px solid $border-color
	display: inline-block
	&:hover
		border-color $mark
		color $mark

.tag__el--active
	border-color $mark
	color $mark

.catalog--simple
	.catalog__el-title
		margin-bottom: 0

.pag
	flex(mid)
	fw()
	margin: 40px 0
.pag__el
	flex(mid)
	cp()
	tr()
	margin: 10px
	padding: 10px 15px
	border 1px solid $border-color
	display: inline-block
	&:hover
		border-color $mark
		color $mark
.pag__el--active
	border-color $mark
	color $mark

.item
	+below(1024px)
		max-width 640px
		margin-left: auto
		margin-right: auto
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
	.content-slider__el
		padding: 35% 10%
	margin-bottom: 0px
.item-slider
	+below(1024px)
		width: 100%
		margin-bottom: 30px
	width: 60%
.item-content
	+below(1024px)
		width: 100%
	width: 30%
.item-price
	+below(768px)
		font-size: 18px
		margin-bottom: 20px
	font-size: 26px
	font-weight: 700
	color black
	margin-bottom: 30px
.item-callback
	margin-bottom: 30px
.item-callback-text
	+below(768px)
		font-size: 18px
	display: block
	margin-bottom: 10px
	font-size: 26px
.item-get
	+below(480px)
		.btn--md
			width: 100%!important
	f()
	fl()
	align-items: flex-start
	margin-bottom: 20px
	.btn--md
		margin-bottom: 20px
		width: 250px
//.btn--mark
//.btn--full
.item-designer
	a
		font-weight: 700
		link()

.book-row
	+below(640px)
		border-bottom 1px solid $border-color
		padding-bottom: 10px
		margin-bottom: 10px
	f()
	align-items: flex-end
	margin-bottom: 20px
	fw()
.book-row__title
	+below(480px)
		width: 100%
	max-width: 80%
	line-height: 1.6
	font-weight:700
	color black

.book-row__dot
	+below(640px)
		display: none
	border-bottom 1px dashed #00000017
	flex-grow 1
.book-row__value
	+below(640px)
		width: 100%
		white-space initial
	white-space nowrap
	vertical-align: bottom
	font-weight: 500

.item-config
	max-width 768px

.designer-cont
	margin-bottom: 50px
.designer-title
	@extend .type--lgx
	font-weight: 700
	color black
	margin-bottom: 10px
.designer-location
	margin-bottom: 20px
.designer-get
	link()
	margin-bottom: 30px
	display: inline-block


.material
	+below(960px)
		max-width 640px
		margin-left: auto
		margin-right: auto
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
.toolbar
	+below(960px)
		width: 100%
		margin-bottom: 20px
	width: 300px
	border 1px solid $border-color
	background: white
.toolbar-head
	display: block
	padding: 15px 25px
	font-weight:700
	color black
	@extend .type--md
	border-bottom 1px solid $border-color
.toolbar-el
	border-bottom 1px solid $border-color
	tr()
	padding: 15px 25px
	display: block
	margin-bottom: -1px
	&:hover
		background: #e0d0e9
.toolbar-el--active
	background: #e0d0e9
	position: relative
	font-weight: 700
	&:before
		content ''
		size 6px
		round()
		position: absolute
		left 10px
		top 20px
		background: black
.material-cont
	+below(1200px)
		width calc(100% - 350px)
	+below(960px)
		width: 100%
	width calc(100% - 400px)
.material-descr
	+below(480px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 30px
.material-info
	+below(1280px)
		.slider-control
			display: none
		.dot
			display: block
	margin-bottom: 80px
.material-text
	+below(480px)
		width: 100%
	width calc(100% - 150px)
.material-title
	@extend .type--lg
	font-weight: 700
	margin-bottom: 20px
	color $mark
.material-logo
	+below(480px)
		display: none
	size 120px
	bsh()
	br(10px)
	bg-full()
	background-size: contain
	background-color: white
	border 10px solid white

.news__el
	+below(480px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 40px
.news__el-img
	+below(480px)
		width: 100%
		min-height 200px
		margin-bottom: 30px
	width: 35%
	bg-full()
	padding: 15% 10%
.news__el-cont
	+below(480px)
		width: 100%
	width calc(65% - 40px)
.news__el-title
	@extend .type--lgx
	margin-bottom: 10px
	font-weight: 700
	color black
	display: inline-block
.news__el-date
	+below(480px)
		margin-bottom: 20px
	margin-bottom: 30px


.staff
	+below(640px)
		fl()
		fw()
		margin-left: auto
		margin-right: auto
		max-width 480px
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 40px
.staff__el-img
	+below(640px)
		width: 100%
		padding: 60% 10%
		margin: 0 auto 40px auto
	width: 35%
	bg-full()
	padding: 20% 10%
	overflow: hidden
	background-position: top center
	br(10px)
.staff__el-cont
	+below(640px)
		width: 100%
	width calc(60% - 40px)
.staff__el-title
	@extend .type--lgx
	margin-bottom: 10px
	font-weight: 700
	color black
	display: inline-block

.staff__el-loc
	margin-bottom: 30px
.staff__el-info
	+below(768px)
		fw()
	flex(between)
	margin-bottom: 30px
.staff__el-phone
	+below(768px)
		margin-bottom: 20px
	f()
	align-items: center
.staff__el-get
	@extend .btn--md
	@extend .btn--mark
