include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.section
			.main-cont
				.section-title-row
					.section-title
						span Путь к Вашему комфорту
						.section-title-line
	+footer()
include ./block_html/_script.pug
