include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.section.section--clear.section--dark
			.main-cont
				.bread
					-
						var items = ['Главная','Категория','Страница'];
					each item in items
						a(href="#").bread__el #{item}
				.section-title-row
					.section-title
						span Контакты
						.section-title-line
					.section-title-sub Где найти комфорт

				- for (var j=0;j<4;j++)
					.bind
						.bind-info
							.bind-info__title Салон «МОНА» MILK House
							.bind-info__cont
								span г. Новосибирск, ул. Урицкого, 6
								span (383) 363-22-02
								span E-mail: mh@monamf.ru

							.bind-info__cont
								span График работы:
								span Пн - пт: 10:00 - 20:00
								span Сб - Вс: 11:00 - 18:00
							.bind-info__map
								.bind-info__map-el
									//put map her

						.bind-slider.slider--arrows
							.slider-wrap
								.slider-control.slider-control--left
									+icon("arrow-left","icon")
								.slider-control.slider-control--right
									+icon("arrow-right","icon")
								.content-slider.slider-item
									- for (var i=0;i<4;i++)
										.content-slider__el-cont
											div(style="background-image:url('img/main-slider-1.jpg')" class="content-slider__el")

		.section
			.main-cont
				.contact
					.contact-info(style="background-image:url('img/item-4.jpg')")
						.filter
						.contact-info__title Хотите комфортную мебель?
						.contact-info__text Оставьте заявку на дизайн-проект!
					.contact-form
						form(action="#")
							.input-row
								input(type="text" placeholder="Имя" class="input")
							.input-row
								input(type="text" placeholder="Ваш телефон" class="input")
							.input-row
								input(type="text" placeholder="Ваш email" class="input")
							.input-row
								textarea(name="", cols="30", rows="5" placeholder="Ваш коментарий" class="input")
								input(type="submit" value="Отправить" class="btn--md btn--mark")
	+footer()
include ./block_html/_script.pug
