-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'О компании',
		'href':'about'
		},
		{
		'name':'Контакты',
		'href':'contact'
		},
		{
		'name':'Каталог',
		'href':'catalog'
		},
		{
		'name':'Производство',
		'href':'production'
		},
		{
		'name':'Раздел каталога',
		'href':'catalog-part'
		},
		{
		'name':'Карточка товара',
		'href':'item'
		},
		{
		'name':'Дизайнеры',
		'href':'designers'
		},
		{
		'name':'Материалы',
		'href':'material'
		},
		{
		'name':'Новости',
		'href':'news'
		},
		{
		'name':'Дизайнер подробная',
		'href':'designers-item'
		},
		{
		'name':'Модальные окна',
		'href':'modal'
		},
	]

